/* NOT SAFE */

* {
  /* user-select: none; */
  -webkit-tap-highlight-color: transparent;
}

/* NOT SAFE END */

.button.is-fancy {
  color: #ffffff;
  background: #5386e4;
  height: 40px;
  transition: all 0.2s, color 0.2s;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button.is-fancy:focus,
.button.is-fancy:hover {
  background: #3d70ce;
  text-decoration: none;
  transform: scale(1.05);
}

.button.is-fancy:active {
  background: #ffffff;
  color: #0085d8;
  border-color: #dbdbdb;
  text-decoration: none;
  transform: scale(1);
}

.button.is-fancy:disabled {
  cursor: default;
  pointer-events: none;
  background: #adb2b6;
}

.button.is-fancy.is-primary {
  background-color: #43d296;
}

.button.is-fancy.is-primary:focus,
.button.is-fancy.is-primary:hover {
  background-color: #24c582;
}

.button.is-fancy.is-primary:active {
  background: #ffffff;
  color: #43d296;
}

.button.is-fancy.is-warning {
  background-color: #d8c85a;
  color: #403213;
}

.button.is-fancy.is-warning:focus,
.button.is-fancy.is-warning:hover {
  background-color: #b9ac51;
}

.button.is-fancy.is-warning:active {
  background: #ffffff;
  color: #b9a93d;
}

.button.is-fancy.is-success {
  background-color: #79d652;
}

.button.is-fancy.is-success:focus,
.button.is-fancy.is-success:hover {
  background-color: #68bb45;
}

.button.is-fancy.is-success:active {
  background: #ffffff;
  color: #79d652;
}

.button.is-fancy.is-danger {
  background-color: #ff6663;
}

.button.is-fancy.is-danger:focus,
.button.is-fancy.is-danger:hover {
  background-color: #d46868;
}

.button.is-fancy.is-danger:active {
  background: #ffffff;
  color: #d46868;
}

.button.is-fancy.is-info {
  background-color: #5e9ee2;
}

.button.is-fancy.is-info:focus,
.button.is-fancy.is-info:hover {
  background-color: #60a3e8;
}

.button.is-fancy.is-info:active {
  background: #ffffff;
  color: #4791de;
}

.button.is-fancy.is-link {
  background-color: #3e68b5;
}

.button.is-fancy.is-link:focus,
.button.is-fancy.is-link:hover {
  background-color: #4d78c5;
}

.button.is-fancy.is-link:active {
  background: #ffffff;
  color: #3e68b5;
}

.button.is-fancy.is-dark {
  background-color: #464646;
}

.button.is-fancy.is-dark:focus,
.button.is-fancy.is-dark:hover {
  background-color: #565656;
}

.button.is-fancy.is-dark:active {
  background: #ffffff;
  color: #464646;
}

.button.is-fancy.is-pink {
  background-color: #ea1e63;
  color: #ffffff;
}

.button.is-fancy.is-pink:focus,
.button.is-fancy.is-pink:hover {
  background-color: #cf1a57;
}

.button.is-fancy.is-pink:active {
  background: #ffffff;
  color: #ea1e63;
}

.button.is-fancy.is-orange {
  background-color: #fd5000;
  color: #ffffff;
}

.button.is-fancy.is-orange:focus,
.button.is-fancy.is-orange:hover {
  background-color: #ca4000;
}

.button.is-fancy.is-orange:active {
  background: #ffffff;
  color: #fd5000;
}

.input.is-fancy {
  height: 40px;
}